@charset "utf-8";
/*! bulma.io v0.9.1 | MIT License | github.com/jgthms/bulma */

//Custom colors
$orange: #f39200;

//Update Bulma's variables
$primary: $orange;

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
